<% include ../common/header.ejs %>
<body id="cq">
	<nav>
		<img src="/images/cq-nav.jpg" alt="banner">
	</nav>
	<section>
		<input type="number" class="cq-num" placeholder="请输入手机号" />
		<button type="button" class="btn-reveice">立即领取补漆优惠</button>
		<div class="detail">
			<h2>使用说明</h2>
			<ul>
				<li>1.活动期限：12月23日－12月29日;</li>
				<li>2.每位用户仅限购买一次;</li>
				<li>3.本服务不包含车身钣金、车顶、引擎盖、 后备箱盖的修复;</li>
				<li>4.购买后服务有效期为365天;</li>
				<li>5.杭州、上海、北京、广州可用。</li>
				<li>[* 本活动最终解释权归车蚂蚁所有 ]</li>
			</ul>
		</div>
	</section>
	<div class="success">
		<p>补漆优惠码 294576 已短信发送给您。 下载注册后，购买补漆时系统将自动为您账户匹配对应优惠码，快去下载车蚂蚁app使用优惠吧!</p>
		<a onclick="_hmt.push(['_trackEvent', '下载APP', 'download', 'CMY APP']);" class="download" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.chemayi.manager&g_f=991653">下载车蚂蚁APP</a>
	</div>
	<div class="mask"></div>
	<script src="/js/module/cq.bundle.js"></script>
	<% include ../common/footer.ejs %>

