<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no">
	<meta name="x5-fullscreen" content="true">
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/cq.css">
	<script type="text/javascript" src="/lib/comm.js"></script>
	<script type="text/javascript" src="/lib/zepto.min.js"></script>
</head>
